<footer class="bg-gray-800 text-white py-6">
<div class="container mx-auto px-4 text-center">
<div class="flex justify-center space-x-6 mb-4">
<a class="text-2xl hover:text-blue-500 transition" href="https://github.com/GabrielNathanael" target="_blank"><i class="fab fa-github"></i></a>
<a class="text-2xl hover:text-blue-500 transition" href="https://www.linkedin.com/in/gabriel-nathanael-purba-732752330/" target="_blank"> <i class="fab fa-linkedin"></i></a>
<a class="text-2xl hover:text-blue-500 transition" href="https://instagram.com/gabrielnathanaelp" target="_blank"><i class="fab fa-instagram"></i></a>
</div>
<p class="raleway-custom">© Created By GabrielNathanael | All rights Reserved</p>
</div>
</footer>