<section class="py-16" id="kontak">
<div class="container mx-auto px-4 raleway-custom">
<h2 class="text-4xl font-bold text-center mb-8 text-gray-900 dark:text-white transition-colors">
                Contact Me
            </h2>
<form class="max-w-lg mx-auto bg-white dark:bg-gray-800 p-8 rounded-lg shadow-md transition-colors duration-300" id="contactForm">
<div class="mb-4">
<label class="block mb-2 text-gray-700 dark:text-gray-300 transition-colors" for="name">
                        Your Name
                    </label>
<input class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-white dark:border-gray-600 dark:focus:ring-blue-400 transition-colors" id="name" name="from_name" placeholder="Your name" required="" type="text"/>
</div>
<div class="mb-4">
<label class="block mb-2 text-gray-700 dark:text-gray-300 transition-colors" for="email">
                        Your Email
                    </label>
<input class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-white dark:border-gray-600 dark:focus:ring-blue-400 transition-colors" id="email" name="user_email" placeholder="email@example.com" required="" type="email"/>
</div>
<div class="mb-4">
<label class="block mb-2 text-gray-700 dark:text-gray-300 transition-colors" for="message">
                        Message
                    </label>
<textarea class="w-full px-3 py-2 border rounded-md h-32 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-white dark:border-gray-600 dark:focus:ring-blue-400 transition-colors" id="message" name="message" placeholder="Write your message" required=""></textarea>
</div>
<div class="text-center">
<button class="bg-blue-500 text-white px-8 py-3 rounded-md hover:bg-blue-600 dark:hover:bg-blue-400 dark:bg-blue-600 transition" type="submit">
                        Send Message
                    </button>
</div>
</form>
</div>
</section>